*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*?--INDEX Y GENERALES--/

/*--HEADER--*/
header {
    background-color: black;
    display: flex;
    color: whitesmoke;
    font-size: 80px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

header div a img {
    width: 150px;
}

header h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1800;
    padding: 35px;
}

.navbar {
    border-radius: 20px;
    margin: 10px;
    padding: 3px;
}
.navbar-nav a {
    color: white;
    display: flex;
}



/*--MAIN--*/

/*--Section Acerca de Nosotros--*/

.hero { 
    display: flex;
    justify-content: space-between ;
    padding: 20px;
    margin: 20px;
}

.hero div img {
    height: 400px;
    margin: 10px;

}

.nuestrahistoria {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nuestrahistoria h2{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nuestrahistoria a {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: white;
    text-decoration: none;

}

/*--Section Tarjetas--*/

.tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tarjetas div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 40px;
    border: 5px solid rgb(0, 0, 0);
    padding: 15px;
    list-style: none;
    text-decoration: none;
    margin: 10px;
}
.tarjetas div h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tarjetas div li a {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: white;
    text-decoration: none;
}
.tarjetas div img {
    margin: 20px;
    height: 400px;
    padding: 10px;

}



/*--Section Vendimia--*/
.vendimia {
    display: flex;
    justify-content: space-between ;
    padding: 20px;
    margin: 20px;
}
.veni {
    display: flex;
    justify-content: space-between ;
    flex-direction: column;
    align-items: center;
}
.vendimia h3{
    font-size: 50px;
    margin: 20px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.vendimia div a {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    background-color: black;
}

/*--FOOTER--*/
footer {
    background-color: black;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}
footer div div a img {
    width: 200px;
    height: 200px;
}
footer div a img {
    width: 30px; 
    height:  30px;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.footer1 {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    list-style-type: none;
}
footer div div ul li a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
footer div div ul li {
    margin: 20px;
}



/*!--ESPECIFICO NOSOTROS--*/

.nuestra {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 20px;
}

.nuestra h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nuestra p {
    margin: 40px;
    padding: 30px;
}

.dondevamos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.dondevamos h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dondevamos p {
    margin: 40px;
    padding: 30px;
}



/*!--ESPECIFICO TERROIR--*/

.terroir1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 20px;
}

.terroir1 h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.terroir1 p {
    margin: 40px;
    padding: 30px;
}

.terroir2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.terroir2 h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.terroir2 p {
    margin: 40px;
    padding: 30px;
}

.terroir3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    flex-direction: row-reverse;
}

.terroir3 h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.terroir3 p {
    margin: 40px;
    padding: 30px;
}



/*?--ESPECIFICO FAQ--*/

.faq1 {
    display: inline-block;
    margin: 50px;
}

.faq1 div {
    border-radius: 40px;
    border: 1px solid rgb(0, 0, 0); height: 300; width: 300;
    padding: 50px;
    Margin: 40px;
    padding: 20px;
}

.faq2 {
    border-radius: 40px;
    border: 1px solid rgb(0, 0, 0); 
    padding: 20px;
    Margin: 30px;
}
.faq2 div {
    margin: 50px;
}


/*!--ESPECIFICO TIENDA--*/

.listaproductos div {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    padding: 30px;
    margin: 20px;
    list-style: none;
    text-decoration: none;
    border-radius: 40px;
    flex-wrap: wrap;
}

.listaproductos div img {
    height: 300px;
}
.listaproductos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.listaproductos li a {
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.listaproductos li {
    border-radius: 40px;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
}

.listaproductos h2 {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*!--ESPECIFICO  COMPRA--*/
.proximamente { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
    margin: 40px;
}
.proximamente img {
    width: 500px;
    height: 500px;
}



/*?--ESPECIFICO CONTACTO--*/

.contactoesp {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 20px;
    justify-content: center;

}
.contactoesp div{
    margin: 20px;
}

.mensaje input {
    width: 400px;
    height: 200px;
}

.enviarcontact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.enviarcontact a {
    font-size: 30px;
    margin: 5px;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 20px;
}

/*!--ESPECIFICO RECIBIMOS--*/

.pagrecibimos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.textorecibimos h2 {
    font-size: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textorecibimos p{
    font-size: 25px;
    margin: 20px;
}


/*?--ESPECIFICO VENDIMIA--*/

.regvendimia1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.regvendimia1 div {
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regvendimia1 div h2 {
    margin: 20px;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.regvendimia2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.regvendimia2 div {
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regvendimia2 div h2 {
    margin: 20px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.regvendimia3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}


.deseasanotarte {
    font-size: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.contactaremos {
    margin: 10px;
}

.seguidorwht a img {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;

}

/*?--ESPECIFICO GALERIA--*/

.grid-container{
    border: solid 4px black;
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
}

.grid-items{
    border:solid 2px black;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.galeria1 img{
    height: 300px;
    width: 200px;
}

.gridho{
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridho2{
    grid-column-start: 3;
    grid-column-end: 5;
}

.ho1 img{
    height: 300px;
    width: 500px;
}


















