footer{
    background-color: black;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin: 5px;
        padding: 5px;
        div{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                list-style: none;
                margin: 5px;
                padding: 5px;
            }
        }
        div{
            ul{
                li{
                    margin: 10px;
                    a{
                        color: white;
                        text-decoration: none;
                        margin: 5px;
                    }
                }
            }
        }
    }
}
.redesfooter{
    a{
        img{
            width: 30px; 
            height:  30px;
        }
    }
}
.logofooter{
    a{
        img{
            width: 100px;
            height: 100px;
        }
    }   
}
.lista1{
    div{
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 5px;
            padding: 5px;
        }
    }
}
   