.hero{
    display: flex;
    justify-content: space-between ;
    padding: 15px;
    margin: 10px;
    div{
        img{
            height: 400px;
            margin: 10px;
        }
        a{
            @include botonempty;
        }
    }
}

.nuestrahistoria{
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 40px;
    margin: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    a{
        font-size: 20px;
        margin: 5px;
        color: black;
        text-decoration: none;
    }
}

.tarjetas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    div{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 40px;
        border: 5px solid rgb(0, 0, 0);
        padding: 15px;
        list-style: none;
        text-decoration: none;
        margin: 10px;
        h2{
            font-size: 30px;
            margin: 5px;
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        img{
            margin: 5px;
            height: 400px;
            padding: 10px;
        }
        li{
        @include botonempty;
            a {
            font-size: 20px;
            margin: 20px;
            text-decoration: none;
            color: black;
            }
        }
    }
}

.vendimia{
    display: flex;
    justify-content: space-between ;
    padding: 15px;
    margin: 5px;
    div{
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 40px;
            margin: 5px;
            padding: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        a{
            @include botonempty;
            font-size: 20px;
            margin: 20px;
            text-decoration: none;
            color: black;
        }
        
    }
}


.imgvendimia{
    margin: 5px;
    padding: 10px;
}
