// ESPECIFICO NOSOTROS

.nuestra{
    @extend %flexcenter;
    flex-direction: row-reverse;
    margin: 10px;
    div{
        h2{
            font-size: 50px;
            margin-left: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            margin: 15px;
            padding: 15px;
        }
    }
}

.dondevamos{
    @extend %flexcenter;
    margin: 10px;
    div{
        h2{
            font-size: 50px;
            margin-left:  30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            margin: 10px;
            padding: 10px;
        }
    }
} 

// ESPECIFICO TERROIR

.terroir1 {
    @extend %flexcenter;
    flex-direction: row-reverse;
    margin: 20px;
}

.terroir1{
    h2{
        font-size: 50px;
        margin: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.terroir1{
    p {
        margin: 20px;
        padding: 15px;
    }
}

.terroir2 {
    @extend %flexcenter;
    margin: 20px;
}

.terroir2{
    h2{
        font-size: 50px;
        margin: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.terroir2{
    p{
        margin: 20px;
        padding: 15px;
    }
}

.terroir3{
    @extend %flexcenter;
    margin: 20px;
    flex-direction: row-reverse;
}

.terroir3{
    h2{
        font-size: 50px;
        margin: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.terroir3{
    p{
        margin: 20px;
        padding: 15px;
    }
}

// ESPECIFICO FAQ

.faq1 {
    display: inline-block;
}

.faq1{
    div{
        padding: 10px;
        Margin: 10px;
    }
}

.faq2 {
    padding: 10px;
    Margin: 10px;
}


// ESPECIFICO TIENDA


.listaproductos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    div {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 5px solid rgb(0, 0, 0);
        padding: 5px;
        margin: 10px;
        height: 500px;
        list-style: none;
        text-decoration: none;
        border-radius: 40px;
        flex-wrap: wrap;
        box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
        -webkit-box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
        -moz-box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
        h2{
            margin: 10px;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        li{
        @include botonempty;
            a{
                text-decoration: none;
                font-size: 20px;
                color: black;
                margin: 10px;
            }
        }
        img{
            margin: 5px;
            height: 300px;
        }
    }
}



// ESPECIFICO COMPRA

.proximamente { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
    margin: 40px;
}
.proximamente{
    img {
        width: 300px;
    }
}

/*?--ESPECIFICO CONTACTO--*/

.contactoesp {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;

}
.contactoesp{
    div{
        margin: 10px;
    }
}

.mensaje{
    input {
        width: 400px;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.enviarcontact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.enviarcontact{
    a {
        font-size: 30px;
        margin: 5px;
        padding: 10px;
        border-radius: 40px;
        border: 1px solid rgb(0, 0, 0);
        text-decoration: none;
        color: white;
        background-color: black;
        text-decoration: none;
        margin: 20px;
    }
}

/*!--ESPECIFICO RECIBIMOS--*/

.pagrecibimos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.textorecibimos{
    h2 {
        font-size: 50px;
        margin: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.textorecibimos{
    p{
        font-size: 25px;
        margin: 20px;
    }
}

/*?--ESPECIFICO REGVENDIMIA--*/

.regvendimia1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.regvendimia1{
    div {
        margin: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
.regvendimia1{
    div{
        h2{
            margin: 10px;
            font-size: 40px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}

.regvendimia2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.regvendimia2{
    div {
        margin: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
.regvendimia2{
    div{
        h2 {
            margin: 10px;
            font-size: 40px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}

.regvendimia3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}


.deseasanotarte{
    h2{
        font-size: 40px;
        margin-left: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.contactaremos {
    margin-right: 20px;
}

.seguidorwht{
    a{
        img {
            width: 40px;
            height: 40px;
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
    }
}

/*?--ESPECIFICO GALERIA--*/

.grid-container{
    border: solid 4px black;
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: 350px 350px 350px 350px 350px 350px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}   

.grid-items{
    border:solid 2px black;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
    -webkit-box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 13px 17px 22px -3px rgba(0,0,0,0.71);
}

.galeria1{
    img{
        height: 270px;
        width: 220px;
    }
}

.gridho{
    grid-column-start: 2;
    grid-column-end: 4;
}

.gridho2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.ho1{
    img{
        height: 300px;
        width: 500px;
    }
}


