/*?--MEDIAS Q Galeria --*/ 
@media screen and (max-width:950px){
    .grid-container{
        margin: 5px;
        display: grid;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .galeria1{
        img{
            height: 200px;
            width: 150px;
        }
    }
    .ho1{
        img{
        height: 180px;
        width: 300px;
        }
    }
}


@media screen and (max-width:730px){
    .grid-container{
        border: solid 4px black;
        margin: 5px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
        
    .galeria1{
        img{
            height: 300px;
            width: 200px;
        }
    }
        
    .gridho{
        grid-column-start: 2;
        grid-column-end: 3;
    }
        
    .gridho2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
        
    .ho1{
        img{
            height: 150px;
            width: 250px;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width:700px){
    .grid-container{
        border: solid 4px black;
        margin: 5px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .gridho{
        grid-column-start: 1;
        grid-column-end: 2;
    }
        
    .gridho2{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .ho1{
        img{
            height: 150px;
            width: 250px;
            margin-top: 10px;
        }
    }
}

// ESPECIFICO LOGO INDEX ADICIONALES //

@media screen and (max-width:390px){

    .logofooter{
        display: none;
    }
}


@media screen and (max-width:540px){
    header{ 
        div{
            h1 {
                font-size: 30px;
            }
        }
    }
    .hero{
        div{ 
            h2{
                font-size: 20px;
            }
        }
    }
    .hero{ 
        div{ 
            p{
                font-size: 15px;
            }
        }
    }
    .hero{
        div{
            a{
                font-size: 10px;
            }
        }
    }
    .tarjetas{
        div{ 
            h2{
                font-size: 20px;
            }
        }
    }
    .tarjetas{
        div{
            li{
                a{
                    font-size: 15px; 
                }
            }
        }
    }
    .vendimia{
        div{
            h3{
                font-size: 20px;
            }
        }
    }
    .vendimia{
        div{
            p{
                font-size: 15px;
            }
        }
    }
    .vendimia{
        div{
            a{
                font-size: 10px;   
            }
        }
    }
}

/*?--MEDIAS Q Nosotros --*/ 
@media screen and (max-width:965px){
    .nuestra{
        div{
            h2{
                font-size: 25px;
                margin-left: 20px;
                margin-top: 10px;
            }
            p{
                margin: 15px;
                padding: 15px;
                font-size: 12px;
            }
        }
    }
    .nuestra{
        div{
            img{
            width: 250px;
            }
        }
    }
    .dondevamos{
        div{
            img{
                width: 300px;
            }
        }
    }
    .dondevamos{
        div{
            h2{
                font-size: 25px;
                margin-left: 20px;
                margin-top: 10px;
            }
            p{
                margin: 15px;
                padding: 15px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width:700px){    
    .dondevamos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media screen and (max-width:600px){
    .nuestra{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        margin: 10px;
    }
}
    

/*?--MEDIAS Q Terroir --*/ 
@media screen and (max-width:1100px){
    .terroir1{
        div{
            img{
                margin: 10px;
                width: 300px;
            }
            h2{
                font-size: 30px;
                margin: 10px;
            }
            p{
                font-size: 15px;
                margin: 5px;
            }
        }
    }
    .terroir2{
        div{
            img{
                margin: 10px;
                width: 400px;
                height: 250px;
            }
            h2{
                font-size: 30px;
                margin: 10px;
            }
            p{
                font-size: 15px;
                margin: 5px;
            }
        }
    }
    .terroir3{
        div{
            img{
                margin: 10px;
                width: 300px;
                height: 400px;
            }
            h2{
                font-size: 30px;
                margin: 10px;
            }
            p{
                font-size: 15px;
                margin: 5px;
            }
        }    
    }
}




@media screen and (max-width:850px){
    .terroir2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (max-width:800px){
    .terroir1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (max-width:700px){
    .terroir3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .terroir1{
        div{
            h2{
                font-size: 30px;
                margin: 5px;
            }
            p{
                font-size: 12px;
                margin: 5px;
            }
        }
    }
    .terroir2{
        div{
            h2{
                font-size: 30px;
                margin: 5px;
            }
            p{
                font-size: 12px;
                margin: 5px;
            }
        }
    }
    .terroir3{
        div{
            h2{
                font-size: 30px;
                margin: 5px;
            }
            p{
                font-size: 12px;
                margin: 5px;
            }
        }    
    }
}

@media screen and (max-width:450px){
    .terroir2{
        div{
            img{
                margin: 5px;
                width: 300px;
                height: 175px;
            }
        }
    }
    .terroir3{
        div{
            img{
                margin: 5px;
                width: 200px;
                height: 250px;
            }
        }
    }
}

/*?--MEDIAS Q Contacto --*/ 
@media screen and (max-width:860px){
    .contactoesp{
        flex-direction: column;
    }
    .contactoesp{
        div{
            form{
                div{
                    flex-direction: column;
                }
            }
        }
    }
    .contactoesp{
        div{
            form{
                div{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .contactoesp{
        div{
            h2{
                margin: 10px;
                padding: 10px;
            }
        }
    }
    .contactoesp{
        div{
            form{
                margin: 10px;
            }
        }
    }
    .mensaje{
        input{
            width: 200px;
            height: 100px;
        }
    }
}

/*?--MEDIAS Q Regvendimia --*/ 
@media screen and (max-width:1200px){
    .regvendimia1{
        div{
            p{
                font-size: 15px;
            }
            img{
                width: 300px;
            }
        }
    }
    .regvendimia1{
        div{
            img{
                width: 300px;
            }
        }
    }
    .regvendimia1{
        div{
            img{
                width: 300px;
            }
        }
    }
    .regvendimia2{
        div{
            p{
                font-size: 15px;
            }
        }
    }
    .regvendimia3{
        div{
            form{
                div{
                    label{
                        font-size: 15px;
                    }
                }
            }

        }
    }
}
@media screen and (max-width:1050px){
    .notfoto1{
        display: none;
    }
}



@media screen and (max-width:660px){
    .regvendimia1{
        flex-direction: column;
    }
    .regvendimia2{
        flex-direction: column;
    }
    .regvendimia3{
        flex-direction: column;
    }
    .imgcolores{
        display: none;
    }
}

@media screen and (max-width:540px){
    .deseasanotarte{
        form{
            div{
                label{
                    margin: 5px;
                }
            }
        }
    }

}


/*?--MEDIAS Q Recibimos --*/ 

@media screen and (max-width:720px){
    .pagrecibimos{
        flex-direction: column;
    }
    .textorecibimos{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
    }
    .pagrecibimos{
        div{
            img{
                width: 300px;
            }
        }
    }
}

/*?--MEDIAS Q Reservasgyv --*/ 
@media screen and (max-width:1075px){
    .contactoesp{
        div{
            img{
                width: 300px;
            }
        }
    }
    .contactoesp{ 
        margin: 10px;
    }
}

/*?--MEDIAS Q INDEX --*/ 
@media screen and (max-width:981px){
    .mapa{
        display: none;
    }
}

@media screen and (max-width:800px){
    .imgvendimia{
        display: none;
    }

    .parrafonuestra2{
        display: none;
    }
}

@media screen and (max-width:732px){
    .hero { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
    
    .hero{
        div{
            img{
                height: 300px;
                margin: 10px;
            }
        }
    }

    .tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .tarjetas{
        div{
            img{
                margin: 20px;
                height: 300px;
                padding: 10px;
            }
        }
    }
}   

/*?--MEDIAS Q FAQ --*/ 
@media screen and (max-width:650px){
    .faq1{
        div{
            p{
                font-size: 10px;
            }
        }
    }
    .faq1{
        div{
            h2{
                font-size: 15px;
            }
        }
    }
    .faq2{
        div{
            ol{
                li{
                    font-size: 10px;
                }
            }
        }
    }
    .faq2{
        div{
            ol{
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .faq2{
        div{
            h2{
                font-size: 15px;
            }
        }
    }
}
@media screen and (max-width:1160px){
    .mapgal{
        display: none;
    }
}
@media screen and (max-width:700px){
    .listafoot2{
        display: none;
    }
}
