// BOTONES

@mixin botonempty{
    border-radius: 40px;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
}

%flexcenter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botonh:hover {
    background-color: black;
    color: white;
}

.botonh2:hover {
    background-color: orange;
    color: white;
}

.letter:hover {
    color:white;
}


// especifico del checkout //

.listacheck{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-top: 20px;
    border: 3px solid orange;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

}

.botonEliminar {
    border-radius: 4px;
    border: 0,1px solid red;
    margin: 2px;
    padding: 2px;
}xx

.vinoart p{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}






